<div class="row text-center">
  <h1 class="align-text-bottom">
    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
  </h1>
</div>
<div class="row text-center">
	<div class="error-divider">
		<h2><%= @locals[:contents]['activation_ok'] %></h2>
	</div>
	<a href="<%= CONSTANTS[:base_url] + 'login' %>" class="return-btn"><i class="fa fa-home"></i>Ir al Inicio</a>
</div>
