<div class="row">
  <div class="col-md-12">
    <h4>Gestión de Clientes</h4>
    <hr>
    <div class="row">
      <div class="col-md-4" id="formTableClient">
        <label class="texto-der" id="mensajeRptaClient"></label>
        <table class="table table-striped" style="" id="tablaClient">
          <thead>
            <tr>
              <th style="width: 10px; display:none;">id</th>
              <th style="width: 100px;">Nombre</th>
              <th style="width: 250px;">Distrito</th>
              <th style="width: 200px;">Dirección</th>
              <th style="width: 100px;">Teléfono</th>
              <th style="width: 100px;">Estado</th>
              <th style="width: 80px; padding-left: 17px !important;">Botones</th>
            </tr>
          </thead>
          <tfoot>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
